.cameraBox{
  position: relative;
  margin: 0 auto;
}

#inputVideo{
  position: absolute;
  transform: scaleX(-1);
}

#overlay{
  position: absolute;
  transform: scaleX(-1);
}

h1{
  display: inline-block;  
}

#playButton{
  display: inline-block;
}
